    <div>
        <h1>새 비밀번호</h1>
        <form action="">
            <div>
                <label>비밀번호</label>
                <input name="password" type="password">
                <span>
                    <div>영문, 숫자 포함 8자 이상</div>
                    <div id="check-complex"></div>
                </span>
            </div>
            <div>
                <label>비밀번호 확인</label>
                <input type="password">
                <span>
                    <div>영문, 숫자 포함 8자 이상</div>
                    <div id="recheck"></div>
                </span>
            </div>
            <input type="submit" value="확인">
        </form>
    </div>
