<div>
    <header>
        <h4>
            알람
        </h4>
        <a href="alarm.do">전체보기</a>
    </header>
    <section id="alarm-list">
        <article>
            <figure>(프로필사진)</figure>
            <section>
                <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes.
                </p>
                <div><span>${알림출처}</span>|<span>${알림발생시각}->js로 전환</span></div>
            </section>
        </article>
        <article>
            <figure>(프로필사진)</figure>
            <section>
                <p>Nullam quis risus eget urna mollis ornare is ornaresociis natoque penatibus et magnis dis parturient montes.
                </p>
                <div><span>${알림출처}</span>|<span>${알림발생시각}->js로 전환</span></div>
            </section>
        </article>
        <article>
            <figure>(프로필사진)</figure>
            <section>
                <p>Nullam quis risus eget urna mollis ornare v. Cum svel eu leo. Cum rna mollociis natoque penatibus et magnis dis parturient montes.
                </p>
                <div><span>${알림출처}</span>|<span>${알림발생시각}->js로 전환</span></div>
            </section>
        </article>
    </section>
</div>