<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>인클루드-메인</title>
</head>

<body>
    <div>
        <div id="auction-list">(슬라이드이미지배너)
            <a href="auction.do?id=">작품구매하기</a>
        </div>
        <section id="about">
            <h2>더뷰티풀설명</h2>
            <div>
                <h3>공동구매를 통해 예술 걸작의 소유주가 되어보세요</h3>
                <figure>(그림1)</figure>
                <p>고가의 작품을 소유권 공통 구매를 통해<br> 당신도 걸작의 소유주가 될 수 있습니다.</p>
                <h3>미술품 가치 재발견</h3>
                <p>아직 가치를 정확히 입증 받지 못했거나 저평가된 미술 작품을 전문가를 통해 발굴합니다.</p>
                <figure>(그림2)</figure>
                <h3>서울옥션을 통해 투자 미술품 선정</h3>
                <p>더뷰티풀의 판매 미술품은 국내 최고의 미술품 전문 경매 기관인 서울옥션을 통해 검증받은 예술품을 취급합니다.</p>
                <figure></figure>
            </div>
        </section>
        <section id="review">
            <div class="review-item">
                <h2>리뷰</h2>
                <div>
                    (프로필사진)
                </div>
                <div>(이름)</div>
                <p>더뷰티풀은 예술품 거래 시장을 혁신하는 서비스입니다. 기존 예술품 시장이 갖고 있는 정보의 불균형을 해소하고, 누구나 손쉽게 미술품 옥션을 할 수 있는 환경을 구축했습니다.</p>
            </div>
            <div style="order: -1">(move previous review-item UI)</div>
            <div>(move next review-item UI)</div>
            <div>(review-item UI)</div>
        </section>
    </div>
</body>

</html>