/*	
	작성자 : 이은성
	등록일자 : 2010713
	url: /theviewtiful/*
	공통 스타일시트이다.
	정의내용 : 일반엘리먼트
 	font-family, header, #main, footer의 내용*/

@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*global*/
* {
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	display: flex;
	flex-direction: column;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

a:LINK, a:VISITED {
	color: black;
}

p{
	color: #333;
}

button, input[type=submit], .btn{
	vertical-align:middle;
	background-color: white;
	border: 1px solid #999;
	padding: 2px 7px;
	font-size: 1em;
	border-radius: 3px;
	cursor: pointer;
}

button:hover, input[type=submit]:hover, .btn:hover{
	background-color: #eee;
}

nav a:hover {
	border-bottom: 2px solid #2d8afd;
}

#header-nav #search input[type=search]{
	padding: 0 10px;
}

#search i {
	padding-top: 4px;
}

/*mobile*/
@media ( max-width : 720px) {
	#nav-main {
		display: flex;
		flex-direction: row;
	}
	#header-nav {
		display: flex;
		flex-direction: column;
		padding: 10px;
		border-right: 1px solid gray;
	}
	#header-nav.off {
		display: none;
	}
	#bar {
		padding: 5px;
		display: block;
	}
}

/*widescreen*/
@media ( min-width : 721px) {
	#nav-main {
		display: flex;
		flex-direction: column;
	}
	header {
		height: 28px; width : 100%;
		background-color: white;
		border-bottom: 1px solid #897680;
		padding: 12px 0 9px;
		position: fixed;
		display: flex;
		justify-content: center;
		width: 100%;
	}
	#header-nav {
		display: flex;
		flex-direction: row;
		width: 1200px;
		justify-content: space-around;
	}
	#home-menu {
		display: flex;
		justify-content: space-between;
		/* align-items: center; */
	}
	#bar {
		display: none;
	}
	#main {
		display: flex;
		flex-direction: column;
		margin: 50px auto;
		padding: 20px;
		width: 1199px;
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
	}
	#search {
		padding-left: 15px;
		border-left: 1px solid #aaa;
		display: flex;
		justify-content: center;
	}
	#search input {
		vertical-align: text-top;
	}

	#user-menu {
		display: flex;
		justify-content: flex-end;
	}
}

.row {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.g1 {
	flex-grow: 1
}

.g2 {
	flex-grow: 2
}

.g3 {
	flex-grow: 3
}

.g4 {
	flex-grow: 4
}

.mr10 {
	margin-right: 10px;
}

.mr20 {
	margin-right: 20px;
}

footer {
	padding:5px;
	background-color: #1d1812;
	color: white;
	font-size: 13px;
	display: flex;
	justify-content: center;
}

footer .wrap {
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
}

footer a:LINK, footer a:VISITED {
	color: white;
}

footer section.service {
	max-width: 400px;
	margin-left: 20px;
}

footer section section {
	padding: 0;
	min-width: 90px;
}

.link:link {
	text-decoration: underline;
	color: #0079f2;
}

.link:visited {
	text-decoration: underline;
	color: #5723c2;
}

label {
	display: flex;
	justify-content: space-between;
}